<div>
  <div class="well" ng-repeat="airplane in airplanes track by $index">
    <h3>{{airplane.manufacturer}} {{airplane.model}}</h3>
    <p>Engines: {{airplane.engines}}</p>
    <a ng-href="{{airplane.image}}">Picture</a>
    <br>
    <button class="btn btn-danger" ng-click="delete(airplane._id, $index)">Delete</button>
    <a ng-href="/airplanes/edit/{{airplane._id}}">Edit</a>
    
  </div>

  <form class="form-group" ng-submit="add()">
    <label for="manufacturer">Manufacturer:</label>
    <input class="form-control" type="text" name="manufacturer" ng-model="airplane.manufacturer">
    <label for="model">Model:</label>
    <input class="form-control" type="text" name="model" ng-model="airplane.model">
    <label for="engines">Engines:</label>
    <input class="form-control" type="integer" name="engines" ng-model="airplane.engines">
    <label for="Image">Image:</label>
    <input class="form-control" type="text" name="image" ng-model="airplane.image">
    <input class="form-control btn btn-primary" type="submit">
  </form>
</div>